.DS_Store

# Deno
.deno/
coverage/

# Zig
.zig-cache/
zig-out/

# Node/Svelte client
node_modules/
client/node_modules/
client/dist/

# Build output
dist/
.task/

# Logs
*.log

# IDE
.idea/

plan.js
map.js
